@import "./reset.css";


.container {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url("../img/cadastro.jpg");
background-size: cover;

}


.bloco {
width: 350px;
padding: 30px;
background: rgba(255, 255, 255, 0.18);
background-color: rgba(255, 255, 255, 0.5);
border-radius: 15px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
text-align: center;
color: white;
padding: 10px;

}

.bloco h2 {
margin-bottom: 20px;
font-size: 30px;
}


.bloco input {
width: 90%;
padding: 12px;
margin: 8px 0;
border-radius: 25px;
border: none;
outline: none;
background: rgba(255, 255, 255, 0.6);
}


.opcao {
display: flex;
justify-content: space-between;
font-size: 14px;
margin: 10px 0 20px;
}

.opcao a {
color: white;
text-decoration: none;
}


.cadastrar {
width: 100%;
padding: 12px;
border-radius: 25px;
background: white;
border: none;
cursor: pointer;
    a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    }
}





