@import "./reset.css";
@import "./header.css";

.banner {
    width: 100%;
    height: 500px;

    background-image: url('../img/folhas.jpg'); 
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}


.banner h1 {
    background: rgba(0, 40, 0, 0.7);
    color: white;
    padding: 20px 60px;
    border-radius: 50px;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 2px;
    
}




.video-section {
    position: relative;
    width: 100%;
    height: 100vh; /* tela inteira */
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.texto-box {
    max-width: 700px;
    background: rgba(110, 70, 50, 0.9);
    padding: 50px;
    border-radius: 25px;
    color: white;
    font-size: 24px; 
    line-height: 1.8;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.feijoada-section {
    width: 100%;
    height: 100vh; /* tela inteira */
    background: url("../img/feijoada.jpg") no-repeat right center;
    background-size: contain; /* mantém a foto inteira, igual ao modelo */
    background-color: #a35629; /* cor do fundo por trás */
    display: flex;
    align-items: center;
    padding-left: 50px; /* texto vai ficar no canto esquerdo */
}


.texto-bloco {
    width: 40%;
    background-color: #7a3b1e;
    color: white;
    padding: 81px;
    border-radius: 21px;
    font-size: 27px; 
    line-height: 1.6;
}




.texto-b {
    width: 40%;
    background-color: #d870149d;
    color: white;
    padding: 81px;
    border-radius: 21px;
    font-size: 27px; 
    line-height: 1.6;
}

.acarajé-section {
   width: 100%;
height: 100vh;
background: url("../img/acaraje.jpg") no-repeat center center;
background-size: cover; /* agora ocupa 100% da área */
background-color: #a3562942;
color: white;
display: flex;
align-items: center;
padding-left: 50px;
 position: relative;

}



.texto-açai{
    width: 40%;
    background-color: #59021c;
    color: white;
    padding: 81px;
    border-radius: 21px;
    font-size: 27px; 
    line-height: 1.6;
}

.açai-section {
   width: 100%;
height: 100vh;
background: url("../img/acai.jpg") no-repeat center center;
background-size: cover; /* agora ocupa 100% da área */
background-color: #a3562942;
color: white;
display: flex;
align-items: center;
padding-left: 50px;
 position: relative;

}