@import "./reset.css";
@import "./header.css";

.banner {
    width: 100%;
    height: 350px;

    background-image: url('../img/folhas.jpg'); 
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}


.banner h1 {
    background: rgba(0, 40, 0, 0.7);
    color: white;
    padding: 20px 60px;
    border-radius: 50px;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 2px;
   
}

.fundo{
        width: 100%;
    height: 50;
    display: block;
}

.plantinha {
        width: 100%;
    height: 50;
    display: block;
}
.moeda{
        width: 100%;
    height: 50;
    display: block;
}

.telaplanta{
position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    background-color: #697d17a6;
    padding: 50px;
    border-radius: 25px;
    color: white;
    font-size: 24px;
    line-height: 1.8;
}

.inflação{
   position: absolute;
    top: 185%;
    left: 20%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    background-color: #adadadce;
    padding: 50px;
    border-radius: 25px;
    color: white;
    font-size: 24px;
    line-height: 1.8; 
}
.juros{
      max-width: 700px;
    background: #adadadd7 ;
    padding: 50px;
    border-radius: 25px;
    color: white;
    font-size: 24px; 
    line-height: 1.8;

    position: absolute;
    top: 240%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.setor{
 position: absolute;
    top: 340%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    background-color: #da8b0da4;
    padding: 50px;
    border-radius: 25px;
    color: white;
    font-size: 24px;
    line-height: 1.8;
}