header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 40px;
    z-index: 10;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    
}

header a:hover {
   transition: 0.5s ease;
    transform: scale(1.3);
    cursor: pointer;
   
}

