@import "./header.css";
@import "./reset.css";


body {
    img {
        width: 100%;
        height: 110vh;
    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-caixa {
    background-color: #fff;
    opacity: 0.5;
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
}
h2 {
    margin-bottom: 25px;
    font-size: 32px;
    color: #fff;
}