@import "./reset.css";
@import "./header.css";

.banner {
    width: 100%;
    height: 500px;

    background-image: url('../img/folhas.jpg'); 
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}


.banner h1 {
    background: rgba(0, 40, 0, 0.7);
    color: white;
    padding: 20px 60px;
    border-radius: 50px;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 2px;
    
}
.video-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.texto-box {
    max-width: 900px;
    background: rgba(226, 107, 27, 0.712);
    padding: 70px;
    border-radius: 25px;
    color: rgb(71, 32, 0);
    font-size: 30px;
    line-height: 1.9;

    position: absolute;
    top: 50%;
    left: 50px;             
    transform: translateY(-50%); 
}



.lencol-section {
    width: 100%;
    height: 100vh;

    background: url("../img/lencois.jpg") ;
    background-size: cover;

    background-color: #a3562942;
    color: white;

    display: flex;
    align-items: center;
    padding-left: 50px;
    position: relative;
}

.texto-lencol {
    max-width: 900px;
    background: #30d6c898;
    padding: 70px;
    border-radius: 25px;
    color: #13665f;
    font-size: 30px;
    line-height: 1.9;

    position: absolute;
    top: 50%;
    right: 50px;                
    transform: translateY(-50%); 
}

.video-cristo {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.cristo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.texto-cristo {
    max-width: 900px;
    background: rgba(90, 90, 90, 0.76);
    padding: 70px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 1.9;

    position: absolute;
    top: 60%;      
    left: 50px;
}