@import "./reset.css";
@import "./header.css";



body {
    background-color: rgb(0, 40, 0);
}
.container {
    max-width: 700px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    
}

.secao {
    width: 100%;
    height: 500px;

    background-image: url('../img/folhas.jpg'); 
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}


.secao h1 {
    background: rgba(0, 40, 0, 0.7);
    color: white;
    padding: 20px 60px;
    border-radius: 50px;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 2px;
   
}

.quiz .pergunta {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.quiz p {
    font-weight: bold;
    margin-bottom: 10px;
}

.quiz label {
    display: block;
    margin: 6px 0;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    background: #063601;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #015728;
}
button a {
    color: white;
    text-decoration: none;
}
